*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
}
h2{
    text-align: center;
    font-size: 50px;
    margin: 20px;
    padding: 20px;
    font-family: sans-serif;
}
p{
    text-align: justify;
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    font-family: sans-serif;
}